/* navbar-design */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .head{
    height: 102px;
    width: 1400px;
} */
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    height: 62px;
    width: 1160px;
    margin: 0 auto;
}

.home{
color: orange;
}
.about{
 color: skyblue;

}
.faci{
color: #05D4DF;
} 
.admission{
color:#5D58EF ;
}
.div-1{
    display: flex;
    gap: 8px;
}
.nav-text{
    display: flex;
    gap: 20px;

}
.btn-nav{
   height: 50px;
   width: 197px; 
   border-radius: 12px;
   background-color:orange ;
   border: transparent;
   color: white;
}

.img-1{
    display: none;
    padding-right: 20px;
}
/* 1st section design */

.baby-sec{

 
}
.baby-container{
 display: flex;
 justify-content: space-between;
 height: 575px;
width: 1160px;
margin: 0 auto;
gap: 50px;
padding: 0;



}
.baby-text{
    /* height: 331px;
    width: 640px; */
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.baby-head{
  font-size: 56px;
  font: bold;
  margin-bottom: 0px;

}
.image-1{
    height: 575px;
    width: 468px;
    right: 10px;
}
/* text */
.em{
color: orange;
}
.to{
color: skyblue;
}
.btn-1{
   height: 50px;
   width: 197px;
   color: white;
   background-color: black; 
   border-radius: 12px;
}

 /* 3rd section */

 .standard{
   
   padding-top: 60px;
   padding-bottom: 80px; 
    
 }

 .main-1{
  
    background-image: url(./assets/bg.png);
    margin: 0 auto;
    /* height: 879px;
    width: 1440px; */
 }

.stand-container{
    display: flex;
    /* border: 2px solid gray; */
    gap: 30px;
    height:481px ;
    width: 1160px;
    justify-content: space-between;

   
    margin: 0 auto;
    
}
.head-1{
    text-align: center;
    padding-top: 60px;
   padding-bottom: 80px; 
   font-size: 46px;
   font: bold;

}

.r-1{
    color: #64C8FF;
    padding: 20px;
   
}
.r-2{
    color: #F0AA00;
    padding: 20px;
}
.r-3{
    color: #8700FF;
    padding: 20px;
}
.kinder{
 border: 2px solid gray;
 height: 476.78 ;
 width: 367.8;
 align-items: center;
 border-radius: 18.86px;
 justify-content: center;
 padding: 60px;
 text-align: center;
 background: linear-gradient(#DEF5Ff,#FFFFFF);
 
}
.div-2{
    border: 2px solid gray;
    height: 476.78;
    width: 367.8;
    border-radius: 18.86px; 
    padding: 60px; 
    justify-content: center; 
    text-align: center;
    background: linear-gradient(#FFF4DC,#FFFFFF);
}
.div-3{
    border: 2px solid gray;
    height: 476.78;
    width: 367.8;
    border-radius: 18.86px;
    padding: 60px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#F2E8FF,#FFFFFF);
}










@media screen and (max-width:576px) {
    .nav{
    flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 16px;
    }
    .nav-text, .btn-nav{
        display: none;
    }
    .img-1{
        display: block;
        
    }
    .title{
        display: none;
    }
    .baby-container{
        flex-direction: column;
        flex-direction: column-reverse;
        height: fit-content ;
        width: fit-content;
    }
    .baby-text{
        margin-top: 0%;
    }
    .image-1{
        height: 575px;
        width: 468px;
        /* right: 10px; */
    }
    .nav{
        width: 100%;
        justify-content: space-between;
        gap: 0px;
    }
    .image-1{
        height: 250px;
        width:250px;
        display: block;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .baby-head{
        font-size:30px ;
        text-align: center;
    }
    .pera-1{
        text-align: center;
        
    }
    .btn-1{
       /* margin-left: 30px; */
      display: block;
      margin: 0 auto;
    }
    .stand-container{
        display: grid;
        grid-template-rows: 1fr;
        display:flex;
        flex-direction: column;
        width:93%;
        height: fit-content;
   
    }
    .head-1{
        font-size: 37px;
        margin-top: 0px;
        padding-top: 2px;
        padding-bottom: 20px;
    }

    
   
}